<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper indigo darken-1 ">
      <a href="#" class="brand-logo">Courses</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        {{!-- TODO Active search --}}
        <li>
          <a href="sass.html"><i class="material-icons">search</i></a>
        </li>

        {{#if isHome}}
        <li class="active"> <a href="/">Home</a> </li>
        {{else}}
        <li> <a href="/">Home</a> </li>
        {{/if}}

        {{#if isCourses}}
        <li class="active"> <a href="/courses">Courses</a> </li>
        {{else}}
        <li> <a href="/courses">Courses</a> </li>
        {{/if}}

        {{#if isAdd}}
        <li class="active"> <a href="/add">Add course</a> </li>
        {{else}}
        <li> <a href="/add">Add course</a> </li>
        {{/if}}

        {{#if isCart}}
        <li class="active"> <a href="/cart">My cart</a> </li>
        {{else}}
        <li> <a href="/cart">My cart</a> </li>
        {{/if}}

      </ul>
    </div>
  </nav>
</div>
